#c-1 {
    top: -160px;
    left: -450px;
}

#DO-1 {
    top: -295px;
    left: -100px;
}

#DO-Exm {
    top: -315px;
    left: 760px;
}

#Alg-1 {
    top: -200px;
    left: 250px;
}

#Alg-2 {
    top: -222px;
    left: 500px;
}

#Alg-Exm {
    top: -244px;
    left: 760px;
}

#CPP-1 {
    top: 0px;
    left: -150px;
}

#CPP-Exm {
    top: -22px;
    left: 760px;
}

#AP-1 {
    top: 100px;
    left: 250px;
}

#AP-2 {
    top: 79px;
    left: 500px;
}

#AP-Exm {
    top: 57px;
    left: 760px;
}

#SQL-1 {
    top: 301px;
    left: -150px;
}

#SQL-Exm {
    top: 280px;
    left: 760px;
}

#Career-track {
    top: -301px;
    left: 1070px;
}

#GameDev-1 {
    top: -315px;
    left: 1370px;
}

#BackEnd-1 {
    top: -100px;
    left: 1370px;
}

#DS-1 {
    top: -500px;
    left: 1370px;
}

#DS-2 {
    top: -522px;
    left: 1650px;
}

#CPP-2 {
    top: -620px;
    left: 1370px;
}

#C-2 {
    top: -750px;
    left: 1370px;
}

#SQL-2 {
    top: -920px;
    left: 1370px;
}

#DO-2 {
    top: -1050px;
    left: 1370px;
}

#Python-2 {
    top: -1250px;
    left: 1370px;
}

#CSh-2 {
    top: -1273px;
    left: 1650px;
}

#Java-2 {
    top: -1315px;
    left: 1930px;
}

#GO-2 {
    top: -1294px;
    left: 2210px;
}

#Alg-c {
    top: -1550px;
    left: 1370px;
}

#Alg-cpp {
    top: -1572px;
    left: 1650px;
}

/* .arrow-svg {
    position: absolute;
    top: 120px; 
    left: 80px; 
} */